parse_deps_result.json
**/build
example/pack
third_path/
thirdparty.cmake
/example/thirdparty.cmake
**/*.pb.cc
*.log
example/pack.tar.gz
example/common
**/*.pyc
pack/
.idea/
**/third_path
.vscode/
pack.tgz
**/log
**/tmp
**/*.pb.h
cmake-build-debug/
/thirdparty.cmake
version.h
build/
thirdparty.srv.cmake
**/sdk_script
pack